footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 3.3rem;
  width: 100vw;

  font-weight: 400;
  color: #FFF;
  background-color: #000;
}
