nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  min-width: 100vw;
  padding: 1.6rem 2rem;

  .counter {
    display: flex;
    cursor: pointer;

    span {
      display: flex;
      position: absolute;
      text-align: center;
      align-items: center;

      border-radius: 12px;
      height: 1.2rem;
      width: 1.2rem;
      top: 3rem;
      right: 1.5rem;
      padding: 2px 3px;
      font-size: 1rem;
      background-color: #00c0ee;
      color: #fff;
    }
  }
}

@media (min-width: 768px) {
  nav{
    padding: 1.6rem 16rem;

    .counter span{
      right: 15.5rem;
    }
  }
}